body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
h2 {
  text-align: center;
}

.app {
  width: 450px;
  border: 1px solid #fafafa;
}

.filter-container {
  border: 1px solid #fafafa;
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-container label {
  align-self: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
}

.filter-container input {
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.persons-form-container {
  border: 1px solid #fafafa;
}

.persons-form {
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.persons-form label {
  font-size: 18px;
  text-transform: uppercase;
  align-self: center;
  margin-right: 10px;
}

.persons-form input {
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.persons-form-button {
  display: flex;
  justify-content: flex-end;
}

.persons-form-button button {
  margin: 10px 5px;
  padding: 5px;
  width: 100px;
  text-transform: uppercase;
}

.display-persons-container {
  display: flex;
  flex-direction: column;
}

.display-persons-container ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.display-persons-container li {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  list-style: none;
  border: 1px solid #fafafa;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
